<div>
  <app-loader [IsVisible]="false"></app-loader>

  <h3>Repos list</h3>

  <div class="row">
    <div class="col-xs-6 col-6">
      <div>
        <input #reposFilter type="text" (keyup)="showUsers($event, reposFilter.value)" />
      </div>

      <div *ngIf="!repos || repos.length === 0; else itemsCount">
        <p>Empty repos list</p>
      </div>
      <ng-template #itemsCount> Count: {{ repos.length }} </ng-template>
      <ul class="panel panel-default" >
        <li style="cursor: pointer;" *ngFor="let repo of repos"
        (click)="showRepoDetails(repo)" 
        [class.selected]="editedRepoName === repo.name">{{ repo.name }}</li>
      </ul>
    </div>
    <div class="col-xs-6 col-6">
      <app-repo-details [repo]="selectedRepo"></app-repo-details>
    </div>
  </div>
</div>
