<div>
  <div *ngIf="!selectedRepo; else repoDetailsRegion">
    <p>No repo info or no repo selected</p>
  </div>
  
  <ng-template #repoDetailsRegion>
    <h4>{{ selectedRepo.name | uppercase }} details</h4>
    <br/>

    <div class="input-group flex-nowrap">
        <div class="input-group-prepend">
          <span class="input-group-text" id="addon-wrapping">Description</span>
        </div>
        <input type="text" class="form-control" [(ngModel)]="selectedRepo.description" >
      </div>

    <div class="input-group flex-nowrap">
        <div class="input-group-prepend">
          <span class="input-group-text" id="addon-wrapping">Homepage</span>
        </div>
        <input type="text" class="form-control" [(ngModel)]="selectedRepo.homepage" >
      </div>
     
    <div>
      <b>Private</b>
      <input type="checkbox" name="private" [(ngModel)]="selectedRepo.private" />
    </div>
    <br/>

    <div>
      <button type="button" class="btn btn-primary" (click)="editRepo(selectedRepo)" >Edit</button>
    </div>
  </ng-template>
</div>
